OPENAI_API_VERSION = "2024-07-01-preview"

AZURE_OPENAI_API_KEY = "{key}"
AZURE_OPENAI_ENDPOINT = "{endpoint url}"

AZURE_OPENAI_COMPLETION_MODEL = "gpt-35-turbo"
AZURE_OPENAI_COMPLETION_DEPLOYMENT_NAME = "gpt-35-turbo-dev"