OPENAI_API_VERSION = "2024-07-01-preview"

AZURE_OPENAI_API_KEY = ""
AZURE_OPENAI_ENDPOINT = ""

AZURE_OPENAI_COMPLETION_MODEL = "gpt-35-turbo-16k"
AZURE_OPENAI_COMPLETION_DEPLOYMENT_NAME = "gpt-35-turbo-16k"